header{
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 3%;

        .h1{
        letter-spacing: 8px;
        }
        .nameNavbar{
            color:#000000;
            text-decoration: none;
            letter-spacing: 1.5px;
        }
        .navbar-center {
            display: flex;
            gap: 35px;  
            align-items: center;
            flex-grow: 1; 
        }
        .nav-items {
            display: flex;
            gap: 35px;
            align-items: center;
            list-style: none;
            flex-direction: row;
        }
        .btn-bars {
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
            background-color: #ffffff;
            border: none;
            color: #000000;
            transition: 0.3s;

        &:hover{
            background-color: #e4e4e4;
        }
        }
    }
 }
